<!DOCTYPE html>
<html lang="en">
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>404</title>
    <link href="/static/css/style404.css" rel="stylesheet" type="text/css" media="all">

</head>
<body>
<div class="header">
    <h1>404 error page</h1>
</div>
<div class="w3-main">
    <div class="agile-info">
        <h3>SORRY</h3>
        <h2>4<img src="/static/img/confused.gif" alt="image">4</h2>
        <p>An error Occurred in the Application And Your Page could not be Served.</p>

        <a href="/customer/list">GO BACK</a>
    </div>
</div>
<div class="footer-w3l">
    <p>&copy; 2017 404 Error Page. All rights reserved.</p>
</div>

</body>
</html>